---
import Section from "../Section.astro";

import { awards } from "@cv";
import { languages } from "@cv";
---

<Section className={Astro.props.className} title="Highlights">
	{
		languages.length > 0 && (
			<ul class="inline-flex flex-wrap gap-6 text-sm text-skin-muted">
				{languages.map(({ language, fluency }) => (
					<li>
						<span class="font-medium text-skin-base">{language}</span> — {fluency}
					</li>
				))}
			</ul>
		)
	}

	{
		awards.length > 0 && (
			<>
				<h4 class="mt-4">Scholarships & Awards</h4>
				<ul class="space-y-3 py-3 print:space-y-0">
					{awards.map(({ title, date, awarder }) => (
						<div class="flex items-baseline">
							<div class="relative w-full items-baseline justify-between gap-2">
								<h3 class="mr-6 items-baseline gap-x-2 gap-y-0.5 font-medium">{title}</h3>
								{awarder && <div class="text-sm text-skin-muted">{awarder}</div>}
								<time class="right-0 top-0 text-xs text-skin-muted md:absolute md:block">{date}</time>
							</div>
						</div>
					))}
				</ul>
			</>
		)
	}
</Section>
